<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/Flask Warehouse!!!">Warehouse</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Grocery Dept Home <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/product/add">Add a Product</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Purchase Dept Home <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/product/all">Show Products</a></li>
                <li><a href="/purchase_review">Review Purchase</a></li>

              </ul>
            </li>

             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Supplier Home <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/supplier">Supplier Home</a></li>

              </ul>
            </li>

              {% if current_user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/login">Login</a></li>
              {% endif %}

          </ul>
        </div>
      </div>
</nav>